*{
    margin: 0px;
    padding: 0px;
}
header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("pen.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.sgn {
    padding-right: 40px;
    text-decoration: none;
    color: white;
    margin-top: 40px;

}
.lgn {
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 30px;

}
ul{
    list-style-type: none;
    float: left;
    /*background-color: black;*/
    padding: 20px;
    /*margin-top: 0px;*/
    width: 60%;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: green;
    color: darkred;
    padding-top: 15px;
}
li.active a{
    background-color: green;
    color: darkred;
    padding-top: 15px;
}
.logo img{
    float: left;
    width: 100px;
    height: 90px;
}
.Logins{
    float: right;
    text-align: right;
    padding: 10px;
    text-decoration: none;
}
.title{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 28px;
}
.title h1{
color: brown;
    font-size: 40px;
}
.button{
    position: absolute;
    top: 47%;
    left: 15%;
    transform: translate(-50%,50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #ffff;
    text-decoration: none;
    border-radius: 30px;
}
.btn:hover{
    background-color: white !important;
    color: black;
}

.intro{
    position: absolute;
    top: 04%;
    left: 35%;
    transform: translate(-50%,50%);
}